button{
    width: 250px;
    height:250px;
    border-radius: 50%;
    border: 10px;
    border-color: blue;
    color: white;
    background: #15b42a; 
    padding: 0px;
    text-align:center;
    margin: 20px;
}

.div0{
    padding: 20px;
}
.div1{
    justify-content: center;
    display: flex;
}
.div2{
    margin-top: 50px;
    justify-content: center;
    display: flex;
}
label{
    height: 40px;
    width: 30px;
}
button:active{
    transform: scale(0.98);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.btn2{
    background-color: rgb(226, 48, 35);
}

